.landing-header {
  height: 92vh;
  max-width: 120rem !important;

  display: flex;
  flex-direction: column;
  gap: 10rem;

  align-items: left;
  justify-content: center;
}

.landing--protect:link,
.landing--protect:visited {
  margin-top: 2rem;
}

.landing--protect:hover,
.landing--protect:active {
  background-color: var(--text-white);
  color: var(--btn-color);
}

.steps-heading {
  font-size: 4rem;

  padding-bottom: 2.5rem;
}

.landing-steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 2.5rem;
}

.landing-steps-grid > div > h4 {
  color: var(--primary);

  padding-bottom: 1.2rem;
}

/* .landing-steps-grid > div > p {
  font-size: 2rem;
} */
