.lock-NFT-header {
  padding: 3rem 0;
}

.not-connected-error {
  padding-top: 5rem;
}

.NFT-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  /* grid-template-rows: 20rem; */
  gap: 3rem 3rem;

  padding-bottom: 4rem;
}
