.NFT-lock-header > .lock-NFT-header {
  position: relative;
  /* position: absolute; */
}

.alert {
  position: absolute;
  /* position: relative; */
  right: calc((100% - 125rem) / 2 + 8rem);
  top: 85px;

  display: block;

  color: var(--primary);
  border-radius: var(--border-radius);

  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 0.3s;
}

.connected {
  background-color: var(--alert-green);
}

.not-connected {
  background-color: var(--alert-red);
}

.alert-icon {
  height: 3rem;
  width: auto;

  justify-self: center;
}

.alert-header {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.alert-text {
  font-size: 1.5rem;
  font-weight: 500;
}
