.card {
  display: grid;
  justify-items: center;
  align-items: center;

  border-bottom-left-radius: var(--border-radius) var(--border-radius);
  border-bottom-right-radius: var(--border-radius) var(--border-radius);

  /* border-radius: var(--border-radius); */
  border: 0.1rem var(--secondary) solid !important ;
  border-bottom: none !important;

  color: var(--primary);
  background-color: var(--primary-trans-light);
  height: 100%;

  transition: all 0.3s;
}

.card:hover {
  background-color: var(--primary-trans);
}

.image {
  max-height: 20rem;
  min-height: 20rem;
  width: auto;
}

.not-found {
  padding: 3rem 3rem;
  width: 100%;
  height: auto;
}

.NFT-deets {
  align-self: start;
  padding: 2rem 1.8rem 1.5rem;

  width: 100%;
  display: block; /* Change it as per your requirement. */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NFT-name {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;

  width: calc(85%);
  display: block; /* Change it as per your requirement. */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NFT-collection {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;

  width: calc(85%);
  display: block; /* Change it as per your requirement. */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NFT-lock-btn {
  width: calc(100% + 0.2rem);
  align-self: end !important;

  cursor: pointer;

  padding: 0.6rem !important;

  border-radius: 0rem;
  border-top-left-radius: 0 0 !important;
  border-top-right-radius: 0 0 !important;
  border-bottom-left-radius: var(--border-radius) var(--border-radius);
  border-bottom-right-radius: var(--border-radius) var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 800 !important;
  font-family: 'Inter', sans-serif;

  letter-spacing: 0 !important;
}
