:root {
  --background: #2d9f99;
  --text-white: #f0ebf4;
  /* --text- */

  --primary: #17252a;
  --primary-trans: #17252a31;
  --primary-trans-light: #17252a19;
  --primary-dark: #1b827c;
  --primary-darker: #116b67;

  --secondary: #175b59;
  --secondary-trans: #2b7a7746;

  --color-card-grey: #343434;
  --color-card-grey-light: #494949;

  /* --btn-color: #5f4bb6; */
  --btn-color: #3943b7;

  --alert-red: #ff8787;
  --alert-green: #69db7c;

  --border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
  background-color: var(--background);
  height: 100%;
}

body {
  margin: 0 !important;

  font-family: 'Inter', sans-serif;

  line-height: 1;
  font-weight: 400;
  font-size: 3rem;
  color: var(--text-white);
  word-spacing: -0.5rem;

  -webkit-animation: fadeInAnimation ease 1.8s;
  -moz-animation: fadeInAnimation ease 1.8s;
  -ms-animation: fadeInAnimation ease 1.8s;
  -o-animation: fadeInAnimation ease 1.8s;
  animation: fadeInAnimation ease 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  word-spacing: 0.2rem;
}

a,
h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 900;
  word-spacing: -0.5rem;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  width: 125rem;
  padding: 0 8rem;
  margin: 0 auto;
}

.hide {
  display: none;
}

.topic-header {
  font-size: 6rem;
  line-height: 1;

  color: var(--text-white);

  line-height: 1.2;
  padding-bottom: 2.5rem;
}

.topic-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);

  letter-spacing: -0.2rem;

  line-height: 1.2;
  padding-bottom: 2rem;
}

.emphasise {
  font-weight: 900;
  letter-spacing: -0.1rem;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;

  display: inline-block;

  padding: 1rem 1.5rem;

  font-weight: 900;
  letter-spacing: -0.1rem;

  border: none !important;
  border-radius: var(--border-radius);

  color: var(--text-white);
  background-color: var(--btn-color);

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  border: 0.1rem var(--text-white) solid;

  color: var(--btn-color);
  background-color: var(--text-white);
}
